* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #212121;
  z-index: 2;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu .menu_link {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 15px;
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.subheader .subheader_official {
  color: #FFFFFF;
  margin-top: 6px;
  font-weight: 400;
  font-size: 13px;
  opacity: 0.5;
}
.subheader .subheader_call {
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
  margin-top: 19px;
  text-align: right;
}
.subheader .subheader_phone {
  display: block;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 300;
  color: #FFFFFF;
  text-align: right;
  line-height: 12px;
}
.subheader .subheader_btn {
  margin-top: 19px;
  width: 259px;
  height: 46px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background-image: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-size: 18px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-weight: 400;
  text-transform: uppercase;
}

.promo {
  min-height: 851px;
  background: url(../images/uber_bg.png) center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo .header_promo {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  line-height: 48px;
  margin: 0;
}
.promo .promo_subheader {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
  margin: 0;
  margin-top: 22px;
}
.promo .promo_descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 23px;
}
.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
  min-height: 767px;
  padding: 18px 0 65px 0;
}

.label {
  margin: 0 auto;
  width: 113px;
  height: 24px;
  line-height: 11px;
  font-size: 11px;
  font-weight: 400;
  background-color: black;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 5px 12px;
  text-align: center;
}

.title {
  margin-bottom: 0px;
  margin-top: 38px;
  font-weight: 700;
  font-size: 38px;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
}

.reasons .reasons_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px;
}
.reasons .reasons_block .reasons_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 110px;
  height: 110px;
  background: #1EACC7;
  border-radius: 100%;
}
.reasons .reasons_block .reasons_descr {
  width: 343px;
}
.reasons .reasons_block .reasons_descr .reasons_subtitle {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #1EACC7;
}
.reasons .reasons_block .reasons_descr .reasons_text {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
}

/*# sourceMappingURL=style.css.map */